<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') %>
<body>
    
    <%- include('layouts/navbar') %>

    <div class="container">

        <div class="bg-img">

            <img src="https://www.nippon.com/en/ncommon/contents/japan-topics/2409341/2409341.jpg" id="slamdunk" alt="slamdunk">
            
        </div>

    </div>

    <main>

        

    </main>

</body>
</html>